# ~/.gitconfig: read by git(1).
# Set global options for Git.

[user]
    name = Jean-Mathieu Potvin
    email = jm@potvin.xyz
    signingKey = A33E53429798B393!
[init]
    defaultBranch = main
[credential]
    helper = cache
[commit]
    gpgSign = true
[core]
    eol = lf  # optional, but safer

# Further optional options that can be useful on Windows.
#
# [core]
#   autocrlf = false
# [http]
#   sslVerify = true
#   sslBackend = schannel
# [gpg]
#   program = C:\\Users\\<user>\\AppData\\Local\\gnupg\\bin\\gpg.exe
