# ~/.gitconfig: read by git(1).
# Set global options for Git.

[user]
    name = Jean-Mathieu Potvin
    email = jm@potvin.xyz
    signingKey = A33E53429798B393!
[init]
    defaultBranch = main
[credential]
    helper = cache
[commit]
    gpgSign = true
[core]
    eol = lf               # optional, but safer in cross-compatible projects
#   autocrlf = false       # can be useful on Windows
# [http]
#	sslVerify = true       # can be useful on Windows
#   sslBackend = schannel  # can be useful on Windows
