# ~/.gitconfig: read by git(1).
# Set global options for Git.

[user]
    name = Jean-Mathieu Potvin
    email = jeanmathieupotvin@ununoctium.dev
    signingKey = C1B406E6A30F225E!
[init]
    defaultBranch = main
[credential]
    helper = cache
[commit]
    gpgSign = true
[core]
    eol = lf  # optional, but safer
[pull]
	rebase = false

# Further optional options that can be useful on Windows.
#
# [core]
#   autocrlf = false
# [http]
#   sslVerify = true
#   sslBackend = schannel
# [gpg]
#   program = C:\\Users\\<user>\\AppData\\Local\\gnupg\\bin\\gpg.exe
