# ~/.gitignore: read by git(1).
# List files in home folder to be ignored when tracking dot files.

# Ignore everything by default.
/*

# Do not ignore some files and folders in .config (negates /* above).
!/.config
.config/*

# Do not ignore important symbolic links.
!.ssh
!.gnupg
!.config/rclone

# Do not ignore bash files.
!.bashrc
!.bash_aliases
!.bash_functions
!.bash_logout
!.bash_profile

# Do not ignore profiles.
!.nanorc
!.Rprofile.site

# Do not ignore configration files.
!.config/cloc
!.crontab
!.gitconfig
!.gitignore
!.hushlogin
!.wslconfig
!.wsl.conf

# Do not ignore helper scripts.
!scripts/
